$_font-family: system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-font-family: $_font-family,
);

@use "pkg:@x-govuk/govuk-eleventy-plugin";

.govuk-header__logotype {
  top: 0
}