name: Build source package and wheels

on:
  workflow_call:
    inputs:
      github-ref-name:
        required: true
        type: string

jobs:
  build-source:
    name: Build source package
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Update version in pyproject.toml from current git tag
        run: |
          GITHUB_REF_NAME=${{ inputs.github-ref-name }}
          sed -i "s/0\\.0\\.0\\.dev0/${GITHUB_REF_NAME/v/}/g" pyproject.toml

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Build package
        run: |
          pip install build
          python -m build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: ./dist

  build-linux-non-arm7l:
    name: Build Linux wheels (all but arm7l)
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        image:
          - "manylinux2014_x86_64"
          - "musllinux_1_1_x86_64"
          - "manylinux2014_aarch64"
          - "musllinux_1_1_aarch64"
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          # The version of uv itself is pinned, which allows us to install older Python. Suspect
          # that eventually to install newer Python, will need to have the version of uv specified
          # in the matrix
          version: "0.6.17"
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          ignore-nothing-to-cache: true

      - name: UV Install Python 
        run: uv python install

      - name: Update version in pyproject.toml from current git tag
        run: |
          GITHUB_REF_NAME=${{ inputs.github-ref-name }}
          sed -i "s/0\\.0\\.0\\.dev0/${GITHUB_REF_NAME/v/}/g" pyproject.toml

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Build packages
        run: >-
          docker run --rm -v ${{ github.workspace }}:/app quay.io/pypa/${{ matrix.image }} bash -c '
            cd /app &&
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y &&
            . "$HOME/.cargo/env" &&
            uv build --wheel
            auditwheel repair $(ls dist/*.whl) &&
            rm dist/*.whl &&
            cp wheelhouse/*.whl dist
          '

      - uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.image }}-$${{ matrix.python-version }}
          path: ./dist

  build-linux-arm7l:
    # Installing rust via rustup isn't supported on arm7l: it's a "Tier 2 target without host tools"
    # But we can install it using the distribution's system package manager, in this case apk
    name: Build Linux wheels (arm7l)
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        image:
          - "musllinux_1_2_armv7l"
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          # The version of uv itself is pinned, which allows us to install older Python. Suspect
          # that eventually to install newer Python, will need to have the version of uv specified
          # in the matrix
          version: "0.6.17"
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          ignore-nothing-to-cache: true

      - name: UV Install Python 
        run: uv python install

      - name: Update version in pyproject.toml from current git tag
        run: |
          GITHUB_REF_NAME=${{ inputs.github-ref-name }}
          sed -i "s/0\\.0\\.0\\.dev0/${GITHUB_REF_NAME/v/}/g" pyproject.toml

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm

      - name: Build packages
        run: >-
          docker run --rm -v ${{ github.workspace }}:/app quay.io/pypa/${{ matrix.image }} bash -c '
            cd /app &&
            apk add rust cargo &&
            uv build --wheel &&
            auditwheel repair $(ls dist/*.whl) &&
            rm dist/*.whl &&
            cp wheelhouse/*.whl dist
          '

      - uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.image }}-$${{ matrix.python-version }}
          path: ./dist

  build-macos:
    name: Build macOS wheels
    strategy:
      matrix:
        os:
          - "macos-14"  # ARM
          - "macos-15"  # ARM
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on: '${{ matrix.os }}'
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          # The version of uv itself is pinned, which allows us to install older Python. Suspect
          # that eventually to install newer Python, will need to have the version of uv specified
          # in the matrix
          version: "0.6.17"
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          ignore-nothing-to-cache: true
          
      - name: UV Install Python 
        run: uv python install

      - name: Update version in pyproject.toml from current git tag
        run: |
          GITHUB_REF_NAME=${{ inputs.github-ref-name }}
          sed -i "" "s/0\\.0\\.0\\.dev0/${GITHUB_REF_NAME/v/}/g" pyproject.toml

      - name: Build package
        run: |
          uv pip install build
          uv build --wheel

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.python-version }}
          path: ./dist

  build-ios:
    name: Build iOS wheels
    runs-on: 'macos-14'
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

      - name: Update version in pyproject.toml and setup.py from current git tag
        run: |
          GITHUB_REF_NAME=${{ inputs.github-ref-name }}
          sed -i "" "s/0\\.0\\.0\\.dev0/${GITHUB_REF_NAME/v/}/g" pyproject.toml

      - name: Install cibuildwheel
        # iOS support not yet released to PyPI
        run: python -m pip install git+https://github.com/pypa/cibuildwheel.git@e91560e8a14470ff35488e414aa7aa1de5aec2d8

      - name: Build wheels
        run: |
          python -m cibuildwheel --output-dir dist
        env:
          CIBW_PLATFORM: 'ios'
          CIBW_ARCHS: 'all'
          CIBW_BUILD: 'cp*'
          CIBW_XBUILD_TOOLS: 'rustc cargo'
          CIBW_BUILD_FRONTEND: 'build'
          CIBW_BEFORE_ALL: 'which python && python --version'
      - uses: actions/upload-artifact@v4
        with:
          name: ios
          path: ./dist

  build-windows:
    name: Build Windows wheels
    strategy:
      matrix:
        os:
          - "windows-2022"
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on: '${{ matrix.os }}'
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          # The version of uv itself is pinned, which allows us to install older Python. Suspect
          # that eventually to install newer Python, will need to have the version of uv specified
          # in the matrix
          version: "0.6.17"
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          ignore-nothing-to-cache: true

      - name: UV Install Python 
        run: uv python install

      - name: Update version in pyproject.toml from current git tag
        run: |
          $GITHUB_REF_NAME='${{ inputs.github-ref-name }}' -replace '^v',''
          (Get-Content pyproject.toml).Replace('0.0.0.dev0', $GITHUB_REF_NAME) | Set-Content pyproject.toml

      - name: Build package
        run: |
          uv pip install build
          uv build --wheel

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.python-version }}
          path: ./dist
