name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-source-package-and-wheels:
    uses: ./.github/workflows/build-source-package-and-wheels.yml
    with:
      github-ref-name: 'v0.0.0.dev0'

  test:
    name: Test
    strategy:
      matrix:
        # If changing how many times tests are run, must also change in codecov.yml
        # to ensure test coverage is reported only after all tests have finished
        python-version:
          - "3.7.7"
          - "3.8.2"
          - "3.10.0"
          - "3.11.1"
          - "3.12.0"
          - "3.13.0"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          # Pin to be able to install older Python
          version: "0.6.17"
          python-version: ${{ matrix.python-version }}
          activate-environment: true
      - name: "Install python dependencies"
        run: |
          uv pip install '.[dev,ci]'
      - name: "Install python dependencies"
        run: |
          pip install ".[dev,ci]"
      - name: "Run type checking"
        run: |
          mypy python test.py --disable-error-code import
      - name: "Run tests"
        run: |
          coverage run -m unittest -v
      - uses: codecov/codecov-action@v3
