name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Test
    strategy:
      matrix:
        include:
          - python-version: "3.6.7"
            os: "ubuntu-20.04"
          - python-version: "3.7.1"
            os: "ubuntu-20.04"
          - python-version: "3.8.0"
            os: "ubuntu-20.04"
          - python-version: "3.9.0"
            os: "ubuntu-20.04"
          - python-version: "3.10.0"
            os: "ubuntu-20.04"
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: '${{ matrix.python-version }}'
      - name: "Install python dependencies"
        run: |
          pip install ".[ci]"
      - name: "Run tests"
        run: |
          coverage run -m unittest -v
      - uses: codecov/codecov-action@v3
